 table {
            border-collapse: collapse;
            border-spacing: 1px 1px;
            margin: auto;
        }

        td {

            width: 110px;
            text-align: center;
            vertical-align: center;
            padding: 1px;
            text-align: center;

        }
        p{
            border-radius: 3px;
            color:white;
            background: #FBB508;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            height: 15px;
            width: 180px;
            font-size: 14px;
            vertical-align: text-top;/* Выравнивание по вертикали */
            margin-left: auto;
            margin-right: auto;

        }
        p1{
            border-radius: 0 10px;
            color:white;
            background: #FFB11A;
            font-size: 11px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            height: 1px;
            width: 100px;
        }
        div {
            display: none;
        }