<!DOCTYPE html>
<html lang="en">
<head>
      <title>GET запросы</title>
      <link href='{{ url_for('static', filename='style1.css') }}' rel='stylesheet'>
    <script src="static/jquery-3.3.1.min.js"></script>
    <script src="static/chart.js"></script>
    <script src="static/textdonut.js"></script>
</head>
    <body>

        {% block content %}{% endblock %}
        <br>
        <br>
        <br>
        <br>
    Ссылки для ускорения работы:

        <a href="{{ '/ind?login=login1' }}"> login1  </a>
        <a href="{{ '/ind?login=slava' }}"> slava  </a>
        <a href="{{ '/ind?login=oleg' }}"> oleg  </a>
        <a href="{{ '/ind?login=julia' }}"> julia </a>

</body>
</html>