 {% extends "base.html" %}
{% block content %}
<script>
$.urlParam = function(name){
    var results = new RegExp('[/?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
       return null;
    }
    else{
       return decodeURI(results[1]) || 0;
    }
}
log = decodeURIComponent($.urlParam('login'))



function show(url, bl) {
    $.ajax({
        url : url,
        data : { login1: log},
        cache : false,
        success: function(html) {
                    bl.html(html);
        }
    });
  }

function top(url, bl) {
    $.ajax({
        url : url,
        cache : false,
        success: function(html) {
                    bl.html(html);
        }
    });
  }
setInterval('show(\'/calls_today\', $(\'#calls_today\'))', 60000);
setInterval('show(\'/calls_month\', $(\'#calls_month\'))', 60000);
//исходящие
setInterval('show(\'/outcalls_today\', $(\'#outcalls_today\'))', 60000);
setInterval('show(\'/outcalls_month\', $(\'#outcalls_month\'))', 60000);

setInterval('show(\'/top\', $(\'#top\'))', 60000);
</script>

<table>
    <tr>
        <td colspan="4", style="text-align: center"><p style=" padding: 8px;"> Мои показатели</p></td>
        <td rowspan="4", style="vertical-align: text-top"><p style=" padding: 8px;"> Лидеры дня по звонкам  <br>
            <p>   {{ name1 }} {{ calls1 }}  </p>
            <p style="background: #F4A460;"> {{ name2 }} {{ calls2 }} </p>
            <p style="background: #FFDAB9"> {{ name3 }} {{ calls3 }} </p>

        </td>
    </tr>
    <tr>
        <td colspan="2"><p>Входящие звонки</p></td>
        <td colspan="2"><p>Исходящие звонки</p></td>
    </tr>
    <tr>
        <td><p1> Звонки вчера <br> </p1>  <p5 class="data-attributes">
  <span data-peity='{"innerRadius": 25, "radius": 40 }'>{{ calls_yest }}/{{ plan_calls }}</span>
</p5> <br> {{ calls_yest }}/{{ plan_calls }} </td>
        <td><p1> Звонки сегодня</p1> <br> <p5 class="data-attributes">
            <span data-peity='{"innerRadius": 25, "radius": 40 }'>{{ calls_today }}/{{ plan_calls }}</span>
        </p5> <br>  <span id="calls_today" >{{ calls_today }}</span>/{{ plan_calls }}</td>

        <td><p1>Звонки за вчера</p1> <br> <p5 class="data-attributes">
  <span data-peity='{"innerRadius": 25, "radius": 40 }'>{{ outcalls_yest }}/{{ plan_outcalls }}</span>
</p5> <br>{{ outcalls_yest }}/{{ plan_outcalls }}</td>

        <td style="width: 155px"> <p1>Звонки за сегодня</p1> <br> <p5 class="data-attributes">
            <span data-peity='{"innerRadius": 25, "radius": 40 }'>{{ outcalls_today }}/{{ plan_outcalls }}</span>
        </p5> <br> <span id="outcalls_today">{{ outcalls_today }}</span> /{{ plan_outcalls }}</td>
    </tr>
    <tr>
        <td colspan="2"> <p1> Звонки за месяц</p1> <br>  <p5 class="data-attributes">
  <span data-peity='{"innerRadius": 25, "radius": 40 }'>{{ calls_month }}/{{ plan_month }}</span>
        </p5>  <br> <span id="calls_month">{{ calls_month }}</span>/{{ plan_month }}</td>

        <td colspan="2"><p1> Звонки за месяц</p1> <br>  <p5 class="data-attributes">
  <span data-peity='{"innerRadius": 25, "radius": 40 }'>{{ outcalls_month }}/{{ plan_month_out }}</span>
        </p5>  <br> <span id="outcalls_month">{{ outcalls_month }}</span>/{{ plan_month_out }}</td>
    </tr>
</table>
    <span id="top"></span>
{% endblock %}
