 {% extends "base.html" %}
{% block content %}
<script src="static/reload.js"></script>

<table>
    <tr>
        <td colspan="4", style="text-align: center"><p style=" padding: 8px;"> Мои показатели</p></td>
        <td rowspan="4", style="vertical-align: text-top"><p style=" padding: 8px;"> Лидеры дня по звонкам  <br>
            <p style="background: #FCB408"> <span id="name1"> {{ name1 }} </span>  <span id="calls1"> {{ calls1 }}</span>  </p>
            <p style="background: #DDAB40;"> <span id="name2"> {{ name2 }} </span>  <span id="calls2"> {{ calls2 }}</span> </p>
            <p style="background: #E6D6B2"> <span id="name3"> {{ name3 }} </span>  <span id="calls3"> {{ calls3 }}</span> </p>

        </td>
    </tr>
    <tr>
        <td colspan="2"><p>Входящие звонки</p></td>
        <td colspan="2"><p>Исходящие звонки</p></td>
    </tr>
    <tr>
        <td><p1> Звонки вчера <br> </p1>
  <canvas id="outcall_yest" width="110" height="90"></canvas> </td>

        <td><p1> Звонки сегодня</p1> <br>
            <canvas id="outcall_today" width="110" height="90"></canvas> </td>

        <td><p1> Звонки вчера <br> </p1>
  <canvas id="incall_yest" width="110" height="90"></canvas> </td>

        <td><p1> Звонки сегодня</p1> <br>
            <canvas id="incall_today" width="110" height="90"></canvas> </td>
    </tr>
    <tr>
        <td colspan="2"> <p1> Звонки за месяц</p1> <br>  <canvas id="outcall_month" width="110" height="50"></canvas> </td> </td>

        <td colspan="2"><p1> Звонки за месяц</p1> <br>  <canvas id="incall_month" width="110" height="50"></canvas> </td> </td>
    </tr>
</table>

<script>
function chart(name, data1, data2) {

    new Chart(document.getElementById(name), {
        type: 'doughnut',
        data: {

            datasets: [
                {

                    backgroundColor: ["#FFB500", "#CED3C8"],
                    data: [data1, data2-data1]
                }
            ]
        },
        options: {
            cutoutPercentage: 67,

            elements: {
                center: {
                    text: data1 + '/' + data2,
                    fontStyle: 'Helvetica', //Default Arial
                    sidePadding: 15, //Default 20 (as a percentage)
                    maintainAspectRatio: true,
                    responsive: false
                }
            }
        }
    });
}
</script>
    <script>chart('incall_yest',{{ outcalls_yest }},{{ plan_outcalls }})
     chart('incall_today',{{ outcalls_today }},{{ plan_outcalls }})
    chart('outcall_yest',{{ calls_yest }},{{ plan_calls }})
    chart('outcall_today',{{ calls_today }},{{ plan_calls }})
    chart('incall_month',{{ outcalls_month }},{{ plan_month_out }})
    chart('outcall_month',{{ calls_month }},{{ plan_month }})</script>

{% endblock %}
