 {% extends "base.html" %}
{% block content %}
<script src="static/reload.js"></script>



    <tr>
        <td><p1> Звонки вчера <br> </p1>
  <canvas id="outcall_yest" width="12" height="1"></canvas> </td>

        <td><p1> Звонки сегодня</p1> <br>
            <canvas id="outcall_today" width="12" height="1"></canvas> </td>

        <td><p1> Звонки вчера <br> </p1>
  <canvas id="incall_yest" width="12" height="1"></canvas> </td>

        <td><p1> Звонки сегодня</p1> <br>
            <canvas id="incall_today" width="12" height="1"></canvas> </td>
    </tr>



<script src="static/donut.js"></script>
    <script>chart('outcall_yest',{{  }},24)</script>
    <script>chart('outcall_today',12,24)</script>
    <script>chart('incall_yest',12,24)</script>
    <script>chart('incall_today',12,24)</script>

{% endblock %}
