 {% extends "base.html" %}
{% block content %}

    <table>
    <tr>
        <td colspan="2"> <p> Мои показатели </p> </td>
        <td> <p> Лидеры дня по звонкам </p> </td>
    </tr>
    <tr>
        <td> <p1>звонки вчера: {{ za_vch.z }}</p1> </td>
        <td> <p1>звонки сегодня: {{ za_seg.z }}</p1> </td>
        <td> <p>  {{ user.username }} {{ sur.surname }} - {{ za_seg.z }} </p> </td>
    </tr>
    <tr>
        <td> <p1> Звонки за день </p1> <br>

            <p1  style="color: red;"> {{ fakt.f }}/{{ plan.p }} </p1>

        </td>
        <td> <p1> Звонки за месяц </p1> <br>
        <p1 style="color: greenyellow"> {{ fakt_mes.f }}/{{ plan_mes.p }} </p1>
        </td>
        <td> <p style="background: #F4A460;"> Петр Петров - 5 </p> </td>
    </tr>
    <tr>
        <td>  </td>
        <td> </td>
        <td> <p style="background: #FFDAB9"> Сидор Сидоров  -  3 </p> </td>
    </tr>
</table>

{% endblock %}
